<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Aaron1.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,2},{49,78}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{49,78}}</string>
                <key>sourceSize</key>
                <string>{55,90}</string>
            </dict>
            <key>Aaron10.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,174},{41,82}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{41,82}}</string>
                <key>sourceSize</key>
                <string>{55,90}</string>
            </dict>
            <key>Aaron11.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,168},{41,82}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{41,82}}</string>
                <key>sourceSize</key>
                <string>{55,90}</string>
            </dict>
            <key>Aaron12.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,168},{41,82}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{41,82}}</string>
                <key>sourceSize</key>
                <string>{55,90}</string>
            </dict>
            <key>Aaron13.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{41,84}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,84}}</string>
                <key>sourceSize</key>
                <string>{55,90}</string>
            </dict>
            <key>Aaron14.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{41,84}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,84}}</string>
                <key>sourceSize</key>
                <string>{55,90}</string>
            </dict>
            <key>Aaron15.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,88},{43,84}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,84}}</string>
                <key>sourceSize</key>
                <string>{55,90}</string>
            </dict>
            <key>Aaron16.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,88},{43,84}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,84}}</string>
                <key>sourceSize</key>
                <string>{55,90}</string>
            </dict>
            <key>Aaron17.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,168},{43,82}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{43,82}}</string>
                <key>sourceSize</key>
                <string>{55,90}</string>
            </dict>
            <key>Aaron18.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,168},{43,82}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{43,82}}</string>
                <key>sourceSize</key>
                <string>{55,90}</string>
            </dict>
            <key>Aaron19.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,84},{45,82}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{45,82}}</string>
                <key>sourceSize</key>
                <string>{55,90}</string>
            </dict>
            <key>Aaron2.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,2},{49,78}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{49,78}}</string>
                <key>sourceSize</key>
                <string>{55,90}</string>
            </dict>
            <key>Aaron20.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,84},{45,82}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{45,82}}</string>
                <key>sourceSize</key>
                <string>{55,90}</string>
            </dict>
            <key>Aaron21.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{49,80}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{49,80}}</string>
                <key>sourceSize</key>
                <string>{55,90}</string>
            </dict>
            <key>Aaron22.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{49,80}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{49,80}}</string>
                <key>sourceSize</key>
                <string>{55,90}</string>
            </dict>
            <key>Aaron23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{51,78}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{51,78}}</string>
                <key>sourceSize</key>
                <string>{55,90}</string>
            </dict>
            <key>Aaron24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{51,78}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{51,78}}</string>
                <key>sourceSize</key>
                <string>{55,90}</string>
            </dict>
            <key>Aaron25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{53,76}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{53,76}}</string>
                <key>sourceSize</key>
                <string>{55,90}</string>
            </dict>
            <key>Aaron26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{53,76}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{53,76}}</string>
                <key>sourceSize</key>
                <string>{55,90}</string>
            </dict>
            <key>Aaron27.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,2},{51,80}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{51,80}}</string>
                <key>sourceSize</key>
                <string>{55,90}</string>
            </dict>
            <key>Aaron28.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,2},{51,80}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{51,80}}</string>
                <key>sourceSize</key>
                <string>{55,90}</string>
            </dict>
            <key>Aaron29.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,82},{47,84}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{47,84}}</string>
                <key>sourceSize</key>
                <string>{55,90}</string>
            </dict>
            <key>Aaron3.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,84},{47,80}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{47,80}}</string>
                <key>sourceSize</key>
                <string>{55,90}</string>
            </dict>
            <key>Aaron30.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,82},{47,84}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{47,84}}</string>
                <key>sourceSize</key>
                <string>{55,90}</string>
            </dict>
            <key>Aaron31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{43,82}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{43,82}}</string>
                <key>sourceSize</key>
                <string>{55,90}</string>
            </dict>
            <key>Aaron32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{43,82}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{43,82}}</string>
                <key>sourceSize</key>
                <string>{55,90}</string>
            </dict>
            <key>Aaron33.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,412},{41,80}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{41,80}}</string>
                <key>sourceSize</key>
                <string>{55,90}</string>
            </dict>
            <key>Aaron34.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,412},{41,80}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{41,80}}</string>
                <key>sourceSize</key>
                <string>{55,90}</string>
            </dict>
            <key>Aaron35.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,252},{41,80}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{41,80}}</string>
                <key>sourceSize</key>
                <string>{55,90}</string>
            </dict>
            <key>Aaron36.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,252},{41,80}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{41,80}}</string>
                <key>sourceSize</key>
                <string>{55,90}</string>
            </dict>
            <key>Aaron37.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,258},{41,78}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{41,78}}</string>
                <key>sourceSize</key>
                <string>{55,90}</string>
            </dict>
            <key>Aaron38.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,258},{41,78}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{41,78}}</string>
                <key>sourceSize</key>
                <string>{55,90}</string>
            </dict>
            <key>Aaron39.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,330},{41,80}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{41,80}}</string>
                <key>sourceSize</key>
                <string>{55,90}</string>
            </dict>
            <key>Aaron4.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,84},{47,80}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{47,80}}</string>
                <key>sourceSize</key>
                <string>{55,90}</string>
            </dict>
            <key>Aaron40.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,330},{41,80}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{41,80}}</string>
                <key>sourceSize</key>
                <string>{55,90}</string>
            </dict>
            <key>Aaron41.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,408},{41,82}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{41,82}}</string>
                <key>sourceSize</key>
                <string>{55,90}</string>
            </dict>
            <key>Aaron42.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,408},{41,82}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{41,82}}</string>
                <key>sourceSize</key>
                <string>{55,90}</string>
            </dict>
            <key>Aaron43.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,252},{41,80}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{41,80}}</string>
                <key>sourceSize</key>
                <string>{55,90}</string>
            </dict>
            <key>Aaron44.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,252},{41,80}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{41,80}}</string>
                <key>sourceSize</key>
                <string>{55,90}</string>
            </dict>
            <key>Aaron45.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,166},{45,80}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{45,80}}</string>
                <key>sourceSize</key>
                <string>{55,90}</string>
            </dict>
            <key>Aaron46.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,166},{45,80}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{45,80}}</string>
                <key>sourceSize</key>
                <string>{55,90}</string>
            </dict>
            <key>Aaron47.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{47,78}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{47,78}}</string>
                <key>sourceSize</key>
                <string>{55,90}</string>
            </dict>
            <key>Aaron48.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{47,78}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{47,78}}</string>
                <key>sourceSize</key>
                <string>{55,90}</string>
            </dict>
            <key>Aaron5.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,248},{43,80}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{43,80}}</string>
                <key>sourceSize</key>
                <string>{55,90}</string>
            </dict>
            <key>Aaron6.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,248},{43,80}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{43,80}}</string>
                <key>sourceSize</key>
                <string>{55,90}</string>
            </dict>
            <key>Aaron7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{41,82}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{41,82}}</string>
                <key>sourceSize</key>
                <string>{55,90}</string>
            </dict>
            <key>Aaron8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{41,82}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{41,82}}</string>
                <key>sourceSize</key>
                <string>{55,90}</string>
            </dict>
            <key>Aaron9.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,174},{41,82}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{41,82}}</string>
                <key>sourceSize</key>
                <string>{55,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Aaron.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9b33ea1efe0005a282c924b0c9305be0$</string>
            <key>textureFileName</key>
            <string>Aaron.png</string>
        </dict>
    </dict>
</plist>
