<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>antena1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{48,71}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{48,71}}</string>
                <key>sourceSize</key>
                <string>{64,75}</string>
            </dict>
            <key>antena10.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{52,73}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{52,73}}</string>
                <key>sourceSize</key>
                <string>{64,75}</string>
            </dict>
            <key>antena11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{64,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,75}}</string>
                <key>sourceSize</key>
                <string>{64,75}</string>
            </dict>
            <key>antena12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{64,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,75}}</string>
                <key>sourceSize</key>
                <string>{64,75}</string>
            </dict>
            <key>antena2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{48,71}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{48,71}}</string>
                <key>sourceSize</key>
                <string>{64,75}</string>
            </dict>
            <key>antena3.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,150},{48,71}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{48,71}}</string>
                <key>sourceSize</key>
                <string>{64,75}</string>
            </dict>
            <key>antena4.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,150},{48,71}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{48,71}}</string>
                <key>sourceSize</key>
                <string>{64,75}</string>
            </dict>
            <key>antena5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,79},{48,71}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{48,71}}</string>
                <key>sourceSize</key>
                <string>{64,75}</string>
            </dict>
            <key>antena6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,79},{48,71}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{48,71}}</string>
                <key>sourceSize</key>
                <string>{64,75}</string>
            </dict>
            <key>antena7.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,77},{48,71}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{48,71}}</string>
                <key>sourceSize</key>
                <string>{64,75}</string>
            </dict>
            <key>antena8.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,77},{48,71}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{48,71}}</string>
                <key>sourceSize</key>
                <string>{64,75}</string>
            </dict>
            <key>antena9.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{52,73}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{52,73}}</string>
                <key>sourceSize</key>
                <string>{64,75}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>antena.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8dbd228053a5f6b711809085d5dcb411$</string>
            <key>textureFileName</key>
            <string>antena.png</string>
        </dict>
    </dict>
</plist>
