<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>selectCity1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,110},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>selectCity2.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,55},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>selectCity3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,55},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>selectCity4.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,0},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>selectCity5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>selectCity6.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,157},{49,47}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{49,47}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>selectCity7.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,110},{49,47}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{49,47}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>selectCity8.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,204},{31,39}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{31,39}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>citySelectSheet.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b369696f2baa81c222d5f362f1007183$</string>
            <key>textureFileName</key>
            <string>citySelectSheet.png</string>
        </dict>
    </dict>
</plist>
