<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>defence1.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,200},{74,75}}</string>
                <key>offset</key>
                <string>{13,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{74,75}}</string>
                <key>sourceSize</key>
                <string>{100,103}</string>
            </dict>
            <key>defence10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{90,97}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{90,97}}</string>
                <key>sourceSize</key>
                <string>{100,103}</string>
            </dict>
            <key>defence11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{90,97}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{90,97}}</string>
                <key>sourceSize</key>
                <string>{100,103}</string>
            </dict>
            <key>defence12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{90,97}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{90,97}}</string>
                <key>sourceSize</key>
                <string>{100,103}</string>
            </dict>
            <key>defence13.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,101},{90,97}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{90,97}}</string>
                <key>sourceSize</key>
                <string>{100,103}</string>
            </dict>
            <key>defence14.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,101},{90,97}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{90,97}}</string>
                <key>sourceSize</key>
                <string>{100,103}</string>
            </dict>
            <key>defence15.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,101},{90,97}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{90,97}}</string>
                <key>sourceSize</key>
                <string>{100,103}</string>
            </dict>
            <key>defence16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{94,97}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{94,97}}</string>
                <key>sourceSize</key>
                <string>{100,103}</string>
            </dict>
            <key>defence17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{94,97}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{94,97}}</string>
                <key>sourceSize</key>
                <string>{100,103}</string>
            </dict>
            <key>defence18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{94,97}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{94,97}}</string>
                <key>sourceSize</key>
                <string>{100,103}</string>
            </dict>
            <key>defence2.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,200},{74,75}}</string>
                <key>offset</key>
                <string>{13,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{74,75}}</string>
                <key>sourceSize</key>
                <string>{100,103}</string>
            </dict>
            <key>defence3.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,200},{74,75}}</string>
                <key>offset</key>
                <string>{13,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{74,75}}</string>
                <key>sourceSize</key>
                <string>{100,103}</string>
            </dict>
            <key>defence4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,101},{90,97}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{90,97}}</string>
                <key>sourceSize</key>
                <string>{100,103}</string>
            </dict>
            <key>defence5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,101},{90,97}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{90,97}}</string>
                <key>sourceSize</key>
                <string>{100,103}</string>
            </dict>
            <key>defence6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,101},{90,97}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{90,97}}</string>
                <key>sourceSize</key>
                <string>{100,103}</string>
            </dict>
            <key>defence7.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{90,97}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{90,97}}</string>
                <key>sourceSize</key>
                <string>{100,103}</string>
            </dict>
            <key>defence8.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{90,97}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{90,97}}</string>
                <key>sourceSize</key>
                <string>{100,103}</string>
            </dict>
            <key>defence9.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{90,97}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{90,97}}</string>
                <key>sourceSize</key>
                <string>{100,103}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>defence.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b2b1e7e37f805e6a3855ed624a8fd2bb$</string>
            <key>textureFileName</key>
            <string>defence.png</string>
        </dict>
    </dict>
</plist>
