<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>defense1.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,100},{98,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,50}}</string>
                <key>sourceSize</key>
                <string>{98,50}</string>
            </dict>
            <key>defense2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,200},{98,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,50}}</string>
                <key>sourceSize</key>
                <string>{98,50}</string>
            </dict>
            <key>defense3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,150},{98,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,50}}</string>
                <key>sourceSize</key>
                <string>{98,50}</string>
            </dict>
            <key>defense4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,100},{98,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,50}}</string>
                <key>sourceSize</key>
                <string>{98,50}</string>
            </dict>
            <key>defense5.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,50},{98,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,50}}</string>
                <key>sourceSize</key>
                <string>{98,50}</string>
            </dict>
            <key>defense6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,50},{98,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,50}}</string>
                <key>sourceSize</key>
                <string>{98,50}</string>
            </dict>
            <key>defense7.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,0},{98,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,50}}</string>
                <key>sourceSize</key>
                <string>{98,50}</string>
            </dict>
            <key>defense8.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{98,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,50}}</string>
                <key>sourceSize</key>
                <string>{98,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>defenseDeploySheet.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:091b2e687a597275fa3a77c68c30b896$</string>
            <key>textureFileName</key>
            <string>defenseDeploySheet.png</string>
        </dict>
    </dict>
</plist>
