<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>missile1.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,94},{33,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,90}}</string>
                <key>sourceSize</key>
                <string>{33,90}</string>
            </dict>
            <key>missile10.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,2},{33,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,90}}</string>
                <key>sourceSize</key>
                <string>{33,90}</string>
            </dict>
            <key>missile11.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,2},{33,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,90}}</string>
                <key>sourceSize</key>
                <string>{33,90}</string>
            </dict>
            <key>missile12.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,2},{33,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,90}}</string>
                <key>sourceSize</key>
                <string>{33,90}</string>
            </dict>
            <key>missile13.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,94},{33,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,90}}</string>
                <key>sourceSize</key>
                <string>{33,90}</string>
            </dict>
            <key>missile14.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,94},{33,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,90}}</string>
                <key>sourceSize</key>
                <string>{33,90}</string>
            </dict>
            <key>missile15.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,94},{33,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,90}}</string>
                <key>sourceSize</key>
                <string>{33,90}</string>
            </dict>
            <key>missile16.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,94},{33,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,90}}</string>
                <key>sourceSize</key>
                <string>{33,90}</string>
            </dict>
            <key>missile17.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,2},{33,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,90}}</string>
                <key>sourceSize</key>
                <string>{33,90}</string>
            </dict>
            <key>missile18.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,2},{33,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,90}}</string>
                <key>sourceSize</key>
                <string>{33,90}</string>
            </dict>
            <key>missile19.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,2},{33,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,90}}</string>
                <key>sourceSize</key>
                <string>{33,90}</string>
            </dict>
            <key>missile2.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,94},{33,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,90}}</string>
                <key>sourceSize</key>
                <string>{33,90}</string>
            </dict>
            <key>missile20.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,2},{33,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,90}}</string>
                <key>sourceSize</key>
                <string>{33,90}</string>
            </dict>
            <key>missile21.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,94},{33,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,90}}</string>
                <key>sourceSize</key>
                <string>{33,90}</string>
            </dict>
            <key>missile22.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,94},{33,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,90}}</string>
                <key>sourceSize</key>
                <string>{33,90}</string>
            </dict>
            <key>missile23.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,94},{33,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,90}}</string>
                <key>sourceSize</key>
                <string>{33,90}</string>
            </dict>
            <key>missile24.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,94},{33,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,90}}</string>
                <key>sourceSize</key>
                <string>{33,90}</string>
            </dict>
            <key>missile25.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,2},{33,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,90}}</string>
                <key>sourceSize</key>
                <string>{33,90}</string>
            </dict>
            <key>missile26.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,2},{33,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,90}}</string>
                <key>sourceSize</key>
                <string>{33,90}</string>
            </dict>
            <key>missile27.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,2},{33,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,90}}</string>
                <key>sourceSize</key>
                <string>{33,90}</string>
            </dict>
            <key>missile28.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,2},{33,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,90}}</string>
                <key>sourceSize</key>
                <string>{33,90}</string>
            </dict>
            <key>missile29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{33,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,90}}</string>
                <key>sourceSize</key>
                <string>{33,90}</string>
            </dict>
            <key>missile3.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,94},{33,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,90}}</string>
                <key>sourceSize</key>
                <string>{33,90}</string>
            </dict>
            <key>missile30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{33,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,90}}</string>
                <key>sourceSize</key>
                <string>{33,90}</string>
            </dict>
            <key>missile31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{33,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,90}}</string>
                <key>sourceSize</key>
                <string>{33,90}</string>
            </dict>
            <key>missile32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{33,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,90}}</string>
                <key>sourceSize</key>
                <string>{33,90}</string>
            </dict>
            <key>missile4.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,94},{33,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,90}}</string>
                <key>sourceSize</key>
                <string>{33,90}</string>
            </dict>
            <key>missile5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{33,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,90}}</string>
                <key>sourceSize</key>
                <string>{33,90}</string>
            </dict>
            <key>missile6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{33,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,90}}</string>
                <key>sourceSize</key>
                <string>{33,90}</string>
            </dict>
            <key>missile7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{33,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,90}}</string>
                <key>sourceSize</key>
                <string>{33,90}</string>
            </dict>
            <key>missile8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{33,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,90}}</string>
                <key>sourceSize</key>
                <string>{33,90}</string>
            </dict>
            <key>missile9.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,2},{33,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,90}}</string>
                <key>sourceSize</key>
                <string>{33,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>missile.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2a379c93cbe1de180c2acc2c77da4792$</string>
            <key>textureFileName</key>
            <string>missile.png</string>
        </dict>
    </dict>
</plist>
